__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
builddir/
.flatpak-builder/
.venv/
venv/
*.db
*.log
.helium/
.pytest_cache/
.mypy_cache/
!dist/*.deb
# tauri+react port
node_modules/
frontend/dist/
src-tauri/target/
